// Variables
.hero {
    margin-top: 5rem;
    &-header {
        * {
            font-weight: 500;
        }
        p {
            color: var(--clr-blue);
            font-size: var(--hero_header_text1);
        }
        h1 {
            font-size: var(--hero_header_text2);
            line-height: 3.6rem;
            margin-top: 1rem;
            white-space: nowrap;

        }
    }
    &-image {
        margin-top: 2rem;
        img {
            border-radius: 1.8rem;
        }
    }
    &-header , &-footer {
        @extend .margin-left-hero
    }

    &-footer {
        margin-top: 2.2rem;
        h1 {
            color: var(--clr-gray1);
            font-size: var(--hero_header_text2);
            font-weight: 500;
            line-height: 36px;
        }
        p {
            max-width: 275px;
            margin-top: 3.3rem;
            color: var(--clr-gray2);
            font-weight: 400;
            font-size: var(--hero_header_text1);
            line-height: 18px;
        }
    }

    @media (min-width:50em) {
        margin-top: 10rem;
        &-header {
            h1 {
                line-height: 7.2rem;
            }
        }

        &-footer {
            margin-top: 4.2rem;
            h1 {
                line-height: 72px;
            }
            p {
                margin-top: 4.2rem;
                line-height: 27px;
                max-width: 380px;
            }
        }

    }
}
