.offers {
    @extend .aside-padding;
    margin-top: 10.2rem;
 
    .offers-header {
        @extend .margin-left-aside;
        h1 {
            font-weight: 500;
            font-size: var(--offer_header_text1);
            color: var(--clr-gray1);
       
        }
        
    }

    &-cards {
        margin-top: 4.2rem;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card {
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: center;
        padding: 4.9rem 3rem;
        width: 100%;
        transition: 0.3s;
        border-radius: 24px;
        // Icons
        span {
            padding: 1.8rem;
            border-radius: 16px;
        }

        // Card Strong Text
        h1 {
            font-size: 2.4rem;
            margin: 3.5rem 0;
            color:var(--clr-gray1)
        }
        //Card Text
        p {
       
            max-width: 273px;
            line-height: 24px;
            color:var(--clr-gray2)
        }

        .btn-secondary-hover {
            background: #E0E0E0;
            color: #828282;
            margin-top: 3rem;
            padding: 0.9rem 1.3rem;
            border-radius: 12px;
            transition: 0.3s;
            width: 116px;
            height: 42px;
        }

        .btn-secondary-hover:hover {
            background: var(--clr-blue);
            color: #fff;
        }
    }
    .card:nth-child(2) {
        margin: 11rem 0;
    }

    // Hover Effects
    .card:hover {
        cursor: pointer;
        box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.096);
    }

    @media (min-width:50em) {
        margin-top: 17rem;
        .card {
            max-width: 341px;
        }
        .card:nth-child(2) {
            margin: unset;
            align-items: flex-start;
            text-align: unset;
        }
        
    }
}