* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    line-height: 1;
    
}

body {
    font-size: 1.6rem;
}

img {
    width: 100%;
}

li , span {
    cursor: pointer;
    list-style: none;
}

a {
    color: unset;
    
}