:root {

    --ff-logo :'Heebo', sans-serif;
    --ff-footer:'Montserrat', sans-serif;

    --clr-gray1:#333333;
    --clr-gray2:#4F4F4F;
    --clr-gray3:#828282;
    --clr-gray4:#F2F2F2;
    --clr-gray6:#BDBDBD;

    --clr-blue:#2D9CDB;
    --clr-green:#27AE60;
    --clr-red:#EB5757;

    --clr-white1:#FFFFFF;
    --clr-white2:#F2F2F2;
}