:root {
  --ff-logo:'Heebo', sans-serif;
  --ff-footer:'Montserrat', sans-serif;
  --clr-gray1:#333333;
  --clr-gray2:#4F4F4F;
  --clr-gray3:#828282;
  --clr-gray4:#F2F2F2;
  --clr-gray6:#BDBDBD;
  --clr-blue:#2D9CDB;
  --clr-green:#27AE60;
  --clr-red:#EB5757;
  --clr-white1:#FFFFFF;
  --clr-white2:#F2F2F2;
  --hero_header_text1:1.2rem;
  --hero_header_text2:2.4rem;
  --offer_header_text1:2.4rem;
}

@media (min-width: 50em) {
  :root {
    --hero_header_text1:1.8rem;
    --hero_header_text2:4.8rem;
    --offer_header_text1:3.6rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
  line-height: 1;
}

body {
  font-size: 1.6rem;
}

img {
  width: 100%;
}

li, span {
  cursor: pointer;
  list-style: none;
}

#wrapper {
  margin: 0 auto;
  max-width: 1332px;
}

body {
  padding: 1.9rem 1rem 0 1rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-btw {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-alg-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-direction-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-direction-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.logo {
  font-family: var(--ff-logo);
}

.logo-dark {
  color: var(--clr-gray1);
}

.logo-light {
  color: var(--clr-white2);
}

.contact-wrapper * {
  font-weight: 500;
}

.contact-wrapper p {
  color: var(--clr-gray3);
  font-size: 1rem;
}

.contact-wrapper .contact-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.5rem;
  width: 100%;
  max-width: 350px;
  background: var(--clr-white2);
  height: 47px;
  border-radius: 12px;
  padding: 0.4rem;
}

.contact-wrapper input {
  border-radius: 12px;
  height: 100%;
  width: 100%;
  background: var(--clr-white2);
  border: none;
  outline: none;
  padding-left: 1.9rem;
}

.btn {
  cursor: pointer;
  border: 0;
}

.btn-primary {
  background: var(--clr-blue);
  color: var(--clr-white1);
}

.btn-contact {
  height: 100%;
  width: 100%;
  max-width: 71px;
  border-radius: 12px;
}

.margin-left, .hero-header, .hero-footer, .offers .offers-header {
  margin-left: 3rem;
}

.icon {
  color: #fff;
}

.icon-blue {
  background: var(--clr-blue);
}

.icon-red {
  background: var(--clr-red);
}

.icon-green {
  background: var(--clr-green);
}

@media (min-width: 50em) {
  body {
    padding: 4.2rem 5rem 0 5rem;
  }
  .contact-wrapper {
    margin-top: 5rem;
  }
  .contact-wrapper .contact-input {
    height: 57px;
  }
  .btn-primary {
    background: var(--clr-blue);
    color: var(--clr-white1);
  }
  .btn-contact {
    max-width: 94px;
  }
  .margin-left, .hero-header, .hero-footer, .offers .offers-header {
    margin-left: 12rem;
  }
}

.header-logo {
  font-size: 2.4rem;
}

.header nav {
  width: 100%;
  max-width: 600px;
  display: none;
}

.header span {
  color: var(--clr-gray1);
}

@media (min-width: 50em) {
  .header-logo {
    font-size: 3.6rem;
  }
  .header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header span {
    display: none;
  }
}

.hero {
  margin-top: 5rem;
}

.hero-header * {
  font-weight: 500;
}

.hero-header p {
  color: var(--clr-blue);
  font-size: var(--hero_header_text1);
}

.hero-header h1 {
  font-size: var(--hero_header_text2);
  line-height: 3.6rem;
  margin-top: 1rem;
  white-space: nowrap;
}

.hero-image {
  margin-top: 2rem;
}

.hero-image img {
  border-radius: 1.8rem;
}

.hero-footer {
  margin-top: 2.2rem;
}

.hero-footer h1 {
  color: var(--clr-gray1);
  font-size: var(--hero_header_text2);
  font-weight: 500;
  line-height: 36px;
}

.hero-footer p {
  max-width: 275px;
  margin-top: 3.3rem;
  color: var(--clr-gray2);
  font-weight: 400;
  font-size: var(--hero_header_text1);
  line-height: 18px;
}

@media (min-width: 50em) {
  .hero-header h1 {
    line-height: 7.2rem;
  }
  .hero-footer {
    margin-top: 4.2rem;
  }
  .hero-footer h1 {
    line-height: 72px;
  }
  .hero-footer p {
    margin-top: 4.2rem;
    line-height: 27px;
    max-width: 380px;
  }
}

.offers {
  margin-top: 10.2rem;
}

.offers .offers-header h1 {
  font-weight: 500;
  font-size: var(--offer_header_text1);
  color: var(--clr-gray1);
}

.offers-cards {
  margin-top: 4.2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offers .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4.9rem 3rem;
  max-width: 341px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 24px;
}

.offers .card span {
  padding: 1.8rem;
  border-radius: 16px;
}

.offers .card h1 {
  margin: 3.5rem 0;
  color: var(--clr-gray1);
}

.offers .card p {
  max-width: 273px;
  color: var(--clr-gray2);
}

.offers .card .btn-secondary-hover {
  background: #E0E0E0;
  color: #828282;
  margin-top: 3rem;
  padding: 0.9rem 1.3rem;
  border-radius: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.offers .card .btn-secondary-hover:hover {
  background: var(--clr-blue);
  color: #fff;
}

.offers .card:nth-child(2) {
  margin: 11rem 0;
}

.offers .card:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.096);
          box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.096);
}

@media (min-width: 50em) {
  .offers .card:nth-child(2) {
    margin: unset;
  }
}
/*# sourceMappingURL=main.css.map */